data/
*.egg-info/
build/
.egg
*.pyc
dist/
*.hdf5
condor/
.*.swp
/webpage


# documentation
docs/_build
docs/_generated
docs/lal*.tag
docs/*.inv

# accidental condor leftovers from testing
*.dag*
*.sub

# notebook checkpoints
.ipynb*/

# version
basketball_db/version.py

